<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <script src="main.js"></script>
    <title>Espécies de Ursos</title>
  </head>
  <body>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meu Blog</title>
</head>
<body>
  <header>
    <h1>EDUMENTOR - Biblioteca</h1>
    <nav>
      <ul>
        <li><a href="index.html">HOMEPAGE</a></li>
      </ul>
    </nav>
  </header>
  <main id="post">
      <a href="Anatomia_Humana.html">
        <div class="post">
          <img src="img/anatomia.jpg" alt="Urso Malaio">
          <h2>INTRODUÇÃO A ANATOMIA HUMANA</h2>
          <h3 class="nome-cientifico"> Este campo da biologia examina a organização e a relação entre os diversos sistemas e órgãos que compõem o corpo, bem como suas funções específicas.</h3>
        </div>
      </a>
      <div class="post">
        <a href="INTRODUCAO_CALCULO_1.html">
        <img src="img/logo_calculoI_01.png" alt="Panda-Gigante">
        <h2>INTRODUÇÃO A CALCULO 1</h2>
        <h3 class="nome-cientifico">O Cálculo 1 é uma disciplina fundamental no campo da matemática que serve como base para diversas áreas da ciência, engenharia e economia. </h3>
        </div>
      </a>
  </main>
  <footer>
    <p>&copy; 2024 EDUMENTOR</p>
  </footer>
  </body>
</html>