<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <title>Post do Blog</title>
  </head>
  <body>
    <header>
      <h1>EDUMENTOR</h1>
    </header>
    <div class="post-container">
      <h1>INTRODUÇÃO AO CALCULO 1 </h1>
      <p>
        O Cálculo 1 é uma disciplina fundamental no campo da matemática que serve como base para diversas áreas da ciência, engenharia e economia. Esta disciplina aborda principalmente dois conceitos centrais: o conceito de limite e o conceito de derivada. Ambos são essenciais para a compreensão das mudanças e variações em diferentes contextos.
      </p>
      <img src="img/calculofoto.png" alt="Imagem do post" />
      <p>
  </body>
</html>
